{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<h1>Video</h1>
	{{ form_start(form) }}
	{{ form_row(form.content,{
        'label':'Contenu de la vidéo',
        'attr':{
            'placeholder':'Contenu de la vidéo',
        }
    }) }}
	<button type="submit" class="btn">
		Register</button>
	{{ form_end(form) }}

{% endblock %}
