{% extends "base.html.twig" %}

{% block title %}Articles
{% endblock %}

{% block body %}
	<section id="posts">
		<div class="container mx-auto px-8 pt-24">
			<p class="font-bold text-white text-lg mb-8 md:text-3xl xl:text-3xl">Derniers articles</p>
			<ul class="grid grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-3">

				{% for article in articles %}
					<li>
						<a href="/articles/{{ article.id }}">
							<article class="p-4">
								<img class="w-full h-60 rounded-md" src="{{ article.thumbnail }}" alt="image article">
								<h2 class="text-white mt-7 text-lg font-semibold md:text-xl xl:text-2xl">{{ article.title }}</h2>
								<p class="font-normal text-gray-500 text-base mt-5 text-right">{{ article.date | format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}</p>
							</article>
						</a>
					</li>
				{% endfor %}

			</ul>
			<div></section>
		{% endblock %}
