{% extends "base.html.twig" %}

{% block title %}Blog
{% endblock %}

{% block content %}
	<section id="articles">
		<div class="container mx-auto px-8">
			<ul>
				<li>
					<article>
						<img src="http://placehold.it/200x200" alt="image article">
						<h2 class="text-blue-500">How to design a product that can grow itself 10x in year</h2>
					</article>
				</li>
			</ul>
			<div>
   </section>
{% endblock %}
