{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<div class="h-screen flex">
		<div class=" m-auto max-w-xs w-full flex flex-col gap-4">
			<h1 class="text-center mb-8 text-[32px] font-semibold">La commande a bien été enregistrée</h1>
		</div>
	</div>
{% endblock %}
